# Buildverzeichnisse etc.
bin/
target/
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
.classpath
.project
.settings/

# Java class files
*.class
*.jar

# Uebliche temporaere Dateien etc.
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock
